html {
    font-size: 10px;
    background-color: #ef7079;
    background-size: cover;
}

#header {
    text-align: center;
}

h1 {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-weight: 1000;
    font-size: 45px;
    color: whitesmoke;
    /*
    border: 0.75rem solid whitesmoke;
    border-radius: 7.5rem;
    */
    text-transform: uppercase;
    margin: 10rem;
    margin-top: 50px;
}

/*
#btns {
    display: flex;
    flex: 1;
    min-height: 5vh;
    align-items: center;
    justify-content: center;

}
*/

#btns {
    display: flex;
    flex: 1;
    min-height: 45vh;
    align-items: center;
    justify-content: center;
}

#border {
    border: 0.75rem solid whitesmoke;
    border-radius: 5rem;
    margin: 0.75rem;
    font-size: 1.5rem;
    padding: 2.5rem 0.75rem;
    transition: all .08s ease;
    width: 7.5rem;
    text-align: center;
    color: white;
    background: rgba(26, 226, 210, 0.4);
    text-shadow: 2.5 2.5 .25rem rgb(240, 240, 240);
}

#clear {
    border: 0.75rem solid whitesmoke;
    border-radius: 5rem;
    margin: 0.75rem;
    font-size: 1.5rem;
    padding: 2.5rem 0.75rem;
    transition: all .08s ease;
    width: 7.5rem;
    text-align: center;
    color: white;
    background: rgba(26, 226, 210, 0.4);
    text-shadow: 2.5 2.5 .25rem rgb(240, 240, 240);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75vh;
}

#grid {
    display: grid;
    background-color: white;
    height: 70vh;
    width: 70vh;
    border: 5px solid black;
}

/*
button {
    padding: 5px
}
*/

.border {
    border: 1px solid;
}

/*
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#main-container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}


body {
    background-color: #fed766;
    font-family: 'Baloo Bhai', cursive;
}

#header {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 30px 20px auto;
    text-transform: uppercase;
}

#clearButton {
    margin: 30px auto;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    border: 4px solid black;
    outline: none;
}

.container {
    border: 5px solid black;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
    background-color: black;
}

.grid {
    display: inline-block;
    background-color: #1C86EE;
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

*/